div{
    border: 2px solid black;
}
a{
    text-decoration: none;
    font-size: 100px;
    text-align: center;
}
a:link{
    color : green;
}
a:visited{
    color : blueviolet;
}
a:hover{
    color : brown;
    font-size: 150px;
}
a:active{
    color : teal;
}
h2{
    text-align: center;
}
#text1{ 
    border: 1px solid black;
    font-size: 50px;
    text-align: center;
    text-shadow: 5px 10px 5px blue;
}
#text{
    text-align: center;
    font-size: 50px;
    border: 1px solid red;
    writing-mode: vertical-lr;
    /* writing-mode: vertical-rl; */
} 