h1{
    text-align: center;
    background-color: blueviolet;
    margin: 0;
    padding: 7px;
}
h1::selection{
    color: red;
}
p::selection{
    color: red;
}
h1::after{
    content: url('image/amzon.png');
}
h1::before{
    content: url('image/amzon.png');
}
p{
    border: 2px solid black;
}
div{
    border: 2px solid black;
    background-color: palegreen;
}