/* header screen  */
@media screen and (max-width: 1342px)
{
    #manu_start{
        margin-left: 57%;
    }
}
@media screen and (max-width: 1342px)
{
    #manu_start{
        margin-left: 44%;
    }
}
@media screen and (max-width: 975px)
{
    #manu_start{
        margin-left: 25%
    }
}
@media screen and (max-width: 934px)
{
    #manu_start{
        margin-left: 0%
    }
}
@media screen and (max-width: 375px)
{
    #buy_button {
        margin-left: -23%;
    }
}
@media screen and (max-width: 500px)
{
    .Manu_br{
        padding: 0px;
        margin: 0 15%;
    }
}
@media screen and (max-width: 500px)
{
    #logo_div{
        margin-bottom: 4%;
    }
}
@media screen and (max-width: 500px)
{
    #buy_button{
        margin-bottom: 4%;
    }
}
/* header screen  And*/


