

#div1{
    border: 2px solid red;
    height: 300px;
    width: 300px;
    margin: 100px;
}

#div2{
    height: 300px;
    width: 300px;
    background-color: slateblue;
    transform: perspective(300px) rotate(0, 0, 0, 20deg);
    transform: perspective(300px) rotate3d(50px, 0px, 0px);
}
