<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Font/Poppins-Black.ttf">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">
    <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="Vegan Store Css/Vegan_Store.css">
    <link rel="stylesheet" href="Vegan Store Css/media screen.css">
    <link rel="stylesheet" href="Fontawsome/fontawesome-free-5.15.4-web/css/all.min.css">
    <title>Vegan Store</title>
</head>

<body>
    <header>
        <div id="logo_div">
            <a href=""><img class="logo" src="images/logo1.jpg" alt="" srcset="" height="38px" width="38px"></a>
        </div>

        <div id="manu_start">
            <ul id="main_manu">
                <li class="Manu_br"><a href="">Demo Pages</a></li>
                <li class="Manu_br"><a href="">Watch Video</a></li>
                <li class="Manu_br"><a href="">Blocks</a></li>
            </ul>
        </div>

        <div id="buy_button">
            <a href="" class="buy_name" type="button">BUY NOW</a>
        </div>
    </header>

    <!-- section 1 start -->
    <section id="section_one_start">
        <div id="hed_sec">
            <h1>Vegan Store Simple Website Template</h1>
            <p>With nutrition, all the vital functions of the body car connected. it is the soutce of the development of
                tissues and cells. their constant renewal the saturation of man with energy</p>
        </div>
    </section>
    <!-- section 1 And -->

    <!-- section 2 start -->
    <section id="section_2_start">
        <div id="box_scs_start">
            <div class="con_box box1">
                <i class="fas fa-cut fas1"></i>
                <h2>Stap 01.</h2>
                <p>Vegetables are an integral part of the human diet. They are extremely useful because of the high
                    content of carbohydrates, various acids, vitamins and active elements in the form, easy for
                    digestion.</p>
            </div>
            <div class="con_box box2">
                <i class="fas fa-paint-brush fas1"></i>
                <h2>Stap 02.</h2>
                <p>Vegetables are an integral part of the human diet. They are extremely useful because of the high
                    content of carbohydrates, various acids, vitamins and active elements in the form, easy for
                    digestion.</p>
            </div>
            <div class="con_box box3">
                <i class="fas fa-shopping-bag fas1"></i>
                <h2>Stap 03.</h2>
                <p>Vegetables are an integral part of the human diet. They are extremely useful because of the high
                    content of carbohydrates, various acids, vitamins and active elements in the form, easy for
                    digestion.</p>
            </div>
            <div class="con_box box4">
                <i class="far fa-smile fas1"></i>
                <h2>Stap 04.</h2>
                <p>Vegetables are an integral part of the human diet. They are extremely useful because of the high
                    content of carbohydrates, various acids, vitamins and active elements in the form, easy for
                    digestion.</p>
            </div>
        </div>
    </section>
    <!-- section 2 And -->

    <!-- section 3 stert -->
    <section id="section_3_start">
        <div id="start_vstore">

            <div class="hed_vstore">
                <p class="italikp">fresh food</p>
                <h1>Oure Vagan Store!</h1>
                <p class="hp">Radish contains a lot of fiber, pectin and mineral salts.</p>
            </div>
            <div class="ficon_info">

                <div class="info">
                    <div class="info_scs">
                        <i class="fas fa-camera fas2"></i>
                        <h2>Fresh Vegetables</h2>
                        <p>Use for cooking several types of vegetable oil.</p>
                    </div>
                </div>
                <div class="info">
                    <div class="info_scs">
                        <i class="fas fa-rocket fas2"></i>
                        <h2>High Quality</h2>
                        <p>This is the best source of essential fatty acids for the body.</p>
                    </div>
                </div>
                <div class="info">
                    <div class="info_scs">
                        <i class="fab fa-twitter fas2"></i>
                        <h2>Sale</h2>
                        <p>It is very good, if in the kitchen there will always be several bottles with different oils.
                        </p>
                    </div>
                </div>
                <div class="info">
                    <div class="info_scs">
                        <i class="fab fa-weixin fas2"></i>
                        <h2>Best Price</h2>
                        <p>Remember that unrefined oils are not suitable for heat treatment.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section 3 And -->

    <!-- section 4 start -->
    <section id="start_section4">
        <div id="start4_scs">

            <div id="had_seller">
                <p class="seller_italik">fresh food</p>
                <h1>Oure Vagan Store!</h1>
                <p class="heding_seller_p">According to experts, any habit can be formed in 21 days. The same statement
                    applies to healthy eating.</p>
            </div>
            <div id="sub_scs_start">
                <div class="img">
                    <div class="box">
                        <img src="images/face5.jpg" alt="">
                        <p class="seller_info">Sales consultants are very polite. Many of the products have tried and
                            are ready to prompt and recommend to customers. The staff shows that they completely share
                            the philosophy of proper nutrition, if you can say so.</p>
                        <h3 class="seller_name">VERONICA KING</h3>
                        <p class="seller">Cook</p>
                    </div>
                </div>
                <div class="img">
                    <div class="box">
                        <img src="Images/face6.jpg" alt="">
                        <p class="seller_info">The assortment is very wide. From useful organic oils, cereals and teas
                            to specific products for vegetarians, such as sausages and pies without meat.</p>
                        <h1 class="seller_name">JIM CASH</h1>
                        <p class="seller">Seller</p>
                    </div>
                </div>
                <div class="img">
                    <div class="box">
                        <img src="images/face7.jpg" alt="">
                        <p class="seller_info">I want to say a huge thank you to the management of the store and all its
                            employees, I'm not a vegetarian, it would seem that the store is not for me, but it's not
                            so, any person who comes here will find something useful.</p>
                        <h1 class="seller_name">PETER GOODMAN</h1>
                        <p class="seller">Manager</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section 4 and  -->

    <!-- section 5 Start  -->
    <section id="start_section5">
        <div id="scs5_img">
            <div class="scs5_imgs">
                <img src="images/19.jpg" alt="">
            </div>
        </div>
        <div id="scs5_start_form">
            <form class="scs5_form">
                <h1>Follow Us</h1>
                <p>A wide range of products; many unusual and tasty products; courteous staff</p>
                <input class="email" type="Email" placeholder="Your Email" required>
                <br>
                <button class="SUBCRIBE" type="submit">SUBCRIBE</button>
            </form>
        </div>
    </section>
    <!-- section 5 and  -->

    <!-- section 6 start  -->
    <Section id="start_section6">
        <div id="avg_sec">
            <div class="avg_scs_box">
                <h1>7</h1>
                <p>Year of experiences</p>
            </div>
            <div class="avg_scs_box">
                <h1>123k</h1>
                <p>Happy Customers</p>
            </div>
            <div class="avg_scs_box">
                <h1>72k</h1>
                <p>100% Satisfaction</p>
            </div>
            <div class="avg_scs_box">
                <h1>13k</h1>
                <p>Detox Smoothies</p>
            </div>
        </div>
    </Section>
    <!-- section 6 and  -->

    <!-- section 7 start  -->
    <section id="start_section67">
        <div id="video_scs_start">
            <div class="video_scs_hed">
                <h1>Vimeo Video</h1>
                <div class="umder_line">
                    <div class="line"></div>
                </div>
            </div>
            <div class="video_block">
                <video frameborder="0" allowfullscreen controls autoplay muted>
                    <source src="videos/1027899844.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </section>

    <!-- section 7 and  -->
    <!-- <section id="start_section8">
    <div id="image_hedline_scs">
        <img src="images/06.jpg" alt="">
            <div class="sec_8_hed">
                <p>Create awesome websites!</p>
            </div>
    </div>
  </section> -->


    <!-- section 8 start  -->
    <section id="start_section8">

        <div id="start_Contact_Team">

            <div id="Contact_Us">
                <div class="Address_Information">
                    <p class="Contact_Us_p">Contact Us</p>
                    <h1 class="Contact_Us_h1">Address Information</h1>
                    <p class="Contact_Us_p2">Overeating is one of the most common causes of overweight and digestive
                        problems.</p>
                    <div class="store_info">
                        <h2 class="store_name">London Store</h2>
                        <p>Roeterseiland Campus Building E</p>
                        <p>16th floor London</p>
                        <p>Monday to Friday : 9am to 8pm</p>
                        <p>examplemail.mail.com</p>
                    </div>
                    <div class="store_info">
                        <h2 class="store_name">Berlin Store</h2>
                        <p>Roeterseiland Campus Building E</p>
                        <p>12th floor Berlin</p>
                        <p>Monday to Friday : 9am to 8pm</p>
                        <p>examplemail.mail.com</p>
                    </div>
                </div>
            </div>
            <!-- baju badu  -->
            <div id="Meet_Our_Team">
                <div class="Get_In_Touch">
                    <p class="Contact_Us_p">Meet Our Team</p>
                    <h1 class="Contact_Us_h1">Get In Touch</h1>
                    <p class="Contact_Us_p2">The task of proper nutrition - to remove from the diet harmful food and
                        enrich it useful.</p>
                    <div class="Contact_Us_form">
                        <form>
                            <div>
                                <input type="text" placeholder="Name" required>
                            </div>
                            <div><input type="tel" placeholder="Phone" pattern="[0-9]{10}" required >
                            </div>
                            <div>
                                <input type="text" placeholder="Subjact" required>
                            </div>
                            <div>
                                <input type="email" placeholder="E-mail" required>
                            </div>
                            <div>
                                <textarea placeholder="Message"></textarea>
                            </div>
                            <div>
                                <button type="submit">SUBMIT NOW</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- section 8 and  -->

    <!-- footer start  -->
    <footer>
        <div id="start_footer">
            <p>&#169; Copyright 2018 Mobirise - All Rights Reserved</p>
        </div>
    </footer>
    <!-- footer and  -->

</body>

</html>