<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png"  href="images/favicon.png">
    <link rel="stylesheet" href="Restaurant_Css/Restaurant.css">
    <link rel="stylesheet" href="Restaurant_Css/Fonts/SourceSansPro-Regular.ttf">
    <link rel="stylesheet" href="Css/Font.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="Fontawsome/fontawesome-free-5.15.4-web/css/all.min.css">
    <title>Restaurant</title>
</head>

<body>

    <!-- header start  -->
    <header>
        <div id="header_start">
            <div id="logo">
                <a href="Restaurant.html"><img src="images/logo.png" alt="" height="30px" width="190px"></a>
            </div>
            <nav>
                <ul class="nav_bar_link">
                    <li><a href="Restaurant.html">Home</a></li>
                    <li><a href="#section2">About Us</a></li>
                    <li><a href="#section3">Gallary</a></li>
                    <li><a href="#section4">Manu</a></li>
                    <li><a href="#section5">Reservation</a></li>
                    <li><a href="#section6">Contact Us</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- header and  -->

    <!-- section 1 start  -->
    <section id="section1">
        <div id="section1_start">
            <h1>Lorem ipsum</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, officia culpa? Perferendis.</p>
        </div>
    </section>
    <!-- section 1 and   -->

    <!-- section 2 start  -->
    <section id="section2">
        <div id="section2_start">
            <div class="our_restaurant containe1_img">
                <img src="images/about-img.jpg" alt="about-img">
            </div>
            <div class="our_restaurant containe1">
                <h1>OUR RESTAURANT</h1>
                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, atque officiis impedit modi repudiandae
                    nihil quisquam temporibus sapiente.atque officiis impedit modi repudiandae nihil quisquam temporibus
                    sapiente.</P>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi rem repellendus eaque impedit repellat
                    molestiae eum vero officiis accusantium et dolorum, inventore illo, cum neque fugit iure debitis
                    odit. Odit.vero officiis accusantium et dolorum, inventore illo, cum neque fugit iure debitis odit.
                    Odit. rem repellendus eaque eum vero officiis  inventore illo, cum neque fugit
                    iure debitis odit. Odit</p>
            </div>
        </div>
    </section>
    <!-- section 2 and  -->

    <!-- section 3 start  -->
    <section id="section3">
        <div id="our_gallery">
            <h1>OUR GALLERY</h1>
        </div>
        <div class="gallery_image">
            <div>
                <img src="images/gallery-1.jpg" alt="">
            </div>
            <div>
                <img src="images/gallery-2.jpg" alt="">
            </div>
            <div>
                <img src="images/gallery-3.jpg" alt="">
            </div>
            <div>
                <img src="images/gallery-4.jpg" alt="">
            </div>
            <div>
                <img src="images/gallery-5.jpg" alt="">
            </div>
            <div>
                <img src="images/gallery-6.jpg" alt="">
            </div>
            <div>
                <img src="images/gallery-7.jpg" alt="">
            </div>
            <div>
                <img src="images/gallery-8.jpg" alt="">
            </div>
        </div>
    </section>
    <!-- section 3 and  -->

    <!-- section 4 start  -->
    <section id="section4">
        <div id="Our_manu_start">
            <div id="our_manu">
                <h1>OUR MANU</h1>
            </div>
            <div id="list_name">
                <a href="">LOREM</a>
                <a href="">IPSUM</a>
                <a href="">LOREM</a>
            </div>
            <div id="list_scs_start">
                <div class="list-scs_one">
                    <h4>Lorem ipsum dolor..................................................................<b>$35</b></h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                    <br>
                    <h4>Lorem ipsum dolor..................................................................<b>$50</b></h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                    <br>
                    <h4>Lorem ipsum dolor..................................................................<b>$50</b></h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                    <br>
                    <h4>Lorem ipsum dolor..................................................................<b>$50</b></h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                </div>
                <div class="list-scs_tow">
                    <h4>Lorem ipsum dolor..................................................................<b>$35</b></h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                    <br>
                    <h4>Lorem ipsum dolor..................................................................<b>$50</b></h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                    <br>
                    <h4>Lorem ipsum dolor..................................................................<b>$50</b></h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                    <br>
                    <h4>Lorem ipsum dolor..................................................................<b>$50</b></h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                </div>
            </div>
        </div>
    </section>
    <!-- section 4 and  -->

    <!-- section 5 start  -->
    <section id="section5">
        <div class="bg-image">
        </div>
        <div id="sub_scs5">
            <div id="scs_5_hed">
                <h1>RESERVATION</h1>
            </div>
            <div id="scs5_form">
                <div id="form">
                    <form action="">

                        <label for="full-name">Full name</label>
                        <br>
                        <input type="text" id="full-name" required>
                        <br>
                        <label for="Person">Person</label>
                        <br>
                        <input type="text" id="Person">
                        <br>
                        <label for="Date">Date</label>
                        <br>
                        <input type="date" id="Date" required>
                    </form>
                </div>
                <div id="form">
                    <form action="">
                        <label for="Email">Email</label>
                        <br>
                        <input type="email" id="Email" required>
                        <br>
                        <label for="Phone">Phone No</label>
                        <br>
                        <input type="tel" id="Phone">
                        <br>
                        <label for="Time">Time</label>
                        <br>
                        <input type="time" id="Time" required>
                    </form>
                </div>
            </div>
            <div id="text-e">
                <label for="Special">Special Notes</label>
                <br>
                <textarea name="" id="Special" cols="30" rows="7"></textarea>
            </div>
            <div id="Make_button">
                <a href="">MAKE RESERVATION</a>
            </div>
        </div>
     </div>
    </section>
    <!-- section 5 and -->

    <!-- section 6 start  -->
    <section id="section6">
        <div id="contact_us_start">
            <div id="CONTACT_name">
                <h1>CONTACT US</h1>
            </div>
            <div id="CONTACT_p">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi aliquid quis at sit omnis sed.</p>
            </div>
            <div id="CONTACT_form_start">
                <div class="contact_form"><input type="text" placeholder="Name" required></div>
                <div class="contact_form"><input type="email" placeholder="Email" required></div>
            </div>
            <div id="CONTACT_textarea">
                <textarea name="" id="Special" cols="30" rows="10" placeholder="Message" required></textarea> 
            </div>
            <div id="CONTACT_button">
                <a href="">SAND MESSAGE</a>
            </div>
        </div>
    </section>
    <!-- section 6 and  -->

    <!-- section 7 start  -->
    <section id="section7">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3719.5700780366747!2d72.83163461430092!3d21.209231086970146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be04fe4b2fa62dd%3A0x24c1b705648bd6d3!2sOscar%20Career%20Point!5e0!3m2!1sen!2sin!4v1631119937255!5m2!1sen!2sin" width="1365" height="425" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </section>
    <!-- section 7 and -->

    <!-- section 8 start  -->
    <section id="section8">
        <div id="web_info_scs_start">
            <div id="web_info_scs">
                <div class="web_info">
                    <div class="web">
                        <a href="Restaurant.html"><img src="images/logo.png" alt="" height="30" width="175"></a>
                        <br>
                        <br>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error quibusdam numquam. </p>
                        <div id="social_font">
                            <div class="icons">
                                 <a href="https://www.facebook.com/login/"><i class="fab fa-facebook-f ff"></i></a>
                            </div>
                            <div class="icons">                        
                                    <a href="https://twitter.com/login?lang=en-gb"><i class="fab fa-twitter f1"></i></a>
                            </div>
                            <div class="icons">
                                    <a href="https://www.linkedin.com/login"><i class="fab fa-linkedin-in f1"></i></a>
                            </div>
                            <div class="icons">
                                  <a href="https://www.instagram.com/accounts/login/"><i class="fab fa-instagram f1"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="web_info">
                    <div class="web">
                        <h3>Contact Details</h3>
                        <br>
                        <p><i class="fas fa-map-marked-alt con_icon"></i>Oscar Career Point</p>
                        <br>
                        <h5><i class="fas fa-business-time con_icon"></i>Monday-Sunday:</h5>
                        <p class="btime">9:00AM-9:00PM</p>
                        <br>
                        <a href="mailto:oscarcareerpoint@gmail.com"><p><i class="fas fa-envelope-open-text con_icon"></i> xyz@xyz.com</p></a>
                        <br>
                        <a href="tel:9904656110"><p><i class="fas fa-phone con_icon"></i> +123 456 7890</p></a>
                    </div>
                </div>
                <div class="web_info">
                    <div class="web">
                        <h3>Instagram</h3>
                        <div id="insta_gallery">
                            <div>
                                <a href=""><img src="images/insta1.jpg" alt=""></a>
                            </div>
                            <div>
                                <a href=""><img src="images/insta2.jpg" alt=""></a>
                            </div>
                            <div>
                                <a href=""><img src="images/insta3.jpg" alt=""></a>
                            </div>
                            <div>
                                <a href=""><img src="images/insta4.jpg" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="web_info">
                    <div class="web">
                        <h3>Facebook Like</h3>
                        <div class="fb">
                            <a href=""><img src="images/facebook_like.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- section 8 and  -->

    <!-- footer start  -->
    <footer>

        <p>Copyright &#169; Restaurant. All rights reserved</p>

    </footer>
    <!-- footer and  -->



</body>

</html>
