<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Tab_log Css/TabLogs.css">
    <link rel="stylesheet" href="Fontawsome/fontawesome-free-5.15.4-web/css/all.min.css">
    <!-- five icon  -->
    <link rel="apple-touch-icon" sizes="180x180" href="fiveIcon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="fiveIcon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="fiveIcon/favicon-16x16.png">
    <link rel="manifest" href="fiveIcon/site.webmanifest">
    <link rel="mask-icon" href="fiveIcon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!-- five icon and  -->
    <title>TabLogs</title>
</head>

<body>
    <header>
        <div id="header_scs">
            <div class="logo">
                <a href="#"><img src="images/logo.png" alt=""></a>
            </div>
            <nav>
                <ul>
                    <li><a href="#header_scs">Home</a></li>
                    <li><a href="#section_2">About Us</a></li>
                    <li><a href="#work_button">How Its Work</a></li>
                    <li><a href="#section_3">Features</a></li>
                    <li><a href="#section_4">Calculator</a></li>
                    <li><a href="#scs_5">Pricing</a></li>
                    <li><a href="#form_bgp">Testimonials</a></li>
                </ul>
            </nav>
            <!-- <div class="header_button">
                <div class="Trial_button">
                    <a href="#">Get Free Trial</a>
                </div>
                <div class="Login_button">
                    <a href="#">Login</a>
                </div>
            </div> -->
            <ul class="header_button">
                <li><a href="#">Get Free Trial</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </div>
    </header>

    <!-- section 1 start  -->
    <section id="scs_1">
        <div id="section_1_bgi">
            <div id="section_1">
                <div class="Lorem_Ipsum_scs">
                    <h1>Lorem Ipsum</h1>
                    <h5>is simply</h5>
                    <h4>dummy text</h4>
                    <p>of the printing</p>
                </div>
                <div id="section_1_button">
                    <div class="Get_button">
                        <a href="#"><i class="fas fa-draw-polygon"></i> Get a free trial</a>
                    </div>
                    <div class="playstore_button">
                        <a href="#"><img src="images/slider-google.png" height="52px" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section 1 end  -->

    <!-- section 2 start  -->
    <section>
        <div id="section_2">
            <div class="about_scs">
                <h1>About Us</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius amet sint fugit, ut atque magni veniam
                    quas facere voluptatum, ipsa, dolorum pariatur? Placeat, aut aliquam voluptatum minus quasi
                    voluptatem sapiente.quas facere vaut aliquam voluptatum minus quasi voluptatem sapiente.</p>
            </div>
            <div class="work_button" id="work_button">
                <a class="vb" href="#video">How It's Works</a>
                <!-- <dir class="video">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/GrGdrWQ7c78?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </dir> -->
            </div>
        </div>
    </section>
    <!-- section 2 end  -->

    <!-- section 3 start  -->
    <section id="scs_3">
        <div id="section_3">
            <div class="Multiple">
                <h1>Multiple Features</h1>
            </div>
            <div class="lorem_1">
                <div class="lirem_scs">
                    <img src="images/Multiple-Features-1.png" alt="">
                </div>
                <div class="what_lorem">
                    <h6>What is Lorem ipsum?</h6>
                    <h1>What is Lorem ipsum ?</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum tenetur quas ab natus laboriosam
                        qui modi sed enim omnis assumenda ipsam cumque,</p>
                </div>
            </div>
            <div class="lorem_1">
                <div class="what_lorem1">
                    <h6>What is Lorem ipsum?</h6>
                    <h1>What is Lorem ipsum ?</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum tenetur quas ab natus laboriosam
                        qui modi sed enim omnis assumenda ipsam cumque,</p>
                </div>
                <div class="lirem_scs1">
                    <img src="images/Multiple-Features-2.png" alt="">
                </div>
            </div>
            <div class="lorem_1">
                <div class="lirem_scs">
                    <img src="images/Multiple-Features-3.png" alt="">
                </div>
                <div class="what_lorem">
                    <h6>What is Lorem ipsum?</h6>
                    <h1>What is Lorem ipsum ?</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum tenetur quas ab natus laboriosam
                        qui modi sed enim omnis assumenda ipsam cumque,</p>
                </div>
            </div>
            <div class="lorem_1">
                <div class="what_lorem1">
                    <h6>What is Lorem ipsum?</h6>
                    <h1>What is Lorem ipsum ?</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum tenetur quas ab natus laboriosam
                        qui modi sed enim omnis assumenda ipsam cumque,</p>
                </div>
                <div class="lirem_scs1">
                    <img src="images/Multiple-Features-4.png" alt="">
                </div>
            </div>

            <div class="Customer_button">
                <a href="">Customer Rive</a>
            </div>
        </div>
    </section>
    <!-- section 3 end  -->


    <!-- section 4 start -->
    <section id="scs_4">
        <div id="section_4">
            <div class="seving_scs">
                <h1>What is Lorem ipsum ?</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                <p>Rerum tenetur quas ab natus tenetur quas ab natus laboriosam laboriosam qui modi sed enim omnis
                    assumenda ipsam cumque, tenetur quas ab natus laboriosam.</p>
                <p>Rerum tenetur quas ab natus laboriosam qui modi sed enim omnis assumenda ipsam cumque,</p>
                <div class="seving_button">
                    <a href="">Seving Caltiletor</a>
                </div>
            </div>
            <div class="trip_scs">
                <p class="trip_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit dolor sit ametconsectetur
                    adipisicing elit.</p>
                <img src="images/price-filter.png" alt="">
                <p class="trip_p1">Lorem ipsum dolor sit amet, consectetur.</p>
                <div class="trip_h1">
                    <h1>360 trip, and </h1>
                    <h1>150 Virtual Site Visits</h1>
                </div>
            </div>
            <div class="spnd_scs">
                <img src="images/Graph.png" alt="">
            </div>
        </div>
    </section>
    <!-- section 4 and  -->

    <!-- section 5 start  -->
    <section>
        <div id="scs_5">
            <div class="price_scs">
                <p>Pricing</p>
                <div id="price_box_scs">
                    <div class="price_box colo11">
                        <div class="price_box1">
                            <p>lorem</p>
                            <h2>$ 25</h2>
                            <p>Lorem ipsum</p>
                        </div>
                    </div>
                    <div class="price_box colo12">
                        <div class="price_box1">
                            <p>lorem</p>
                            <h2>$ 25</h2>
                            <p>Lorem ipsum</p>
                        </div>
                    </div>
                    <div class="price_box colo13">
                        <div class="price_box1">
                            <p>lorem</p>
                            <h2>$ 25</h2>
                            <p>Lorem ipsum</p>
                        </div>
                    </div>
                </div>
                <div class="lorem_button">
                    <a href="#">Lorem ipsum</a>
                </div>
            </div>
        </div>
    </section>
    <!-- section 5 end  -->

    <!-- section 6 start -->
    <section>
        <div id="story_scs">
            <div>
                <div id="story_scs_one">
                    <div class="lorem_qurt">
                        <p><i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Repellat, id aut dolorem itaque aliquid enim. <i class="fas fa-quote-right"></i></p>
                        <h2>Lorem ipsum</h2>
                        <p class="loremp">Lorem ipsum</p>
                    </div>
                    <div class="see_story_scs">
                        <i class="far fa-play-circle"></i>
                        <h2>See Hyash's Story</h2>
                    </div>
                </div>
                <div class="see_button">
                    <a href="#">See Customer Stories</a>
                </div>
            </div>
        </div>
    </section>
    <!-- section 6 end -->

    <!-- section 7 Start -->
    <section>
        <div id="form_bgp">
            <div id="form_scs">
                <div class="formscs">
                    <h1>30-day free trial</h1>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <form action="">
                        <input type="text" placeholder="First name" class="input_form_scs">
                        <br>
                        <input type="text" placeholder="Lirst name" class="input_form_scs">
                        <br>
                        <input type="email" placeholder="Email address" class="input_form_scs">
                        <br>
                        <input type="tel" placeholder="Phone number" class="input_form_scs">
                        <br>
                        <input type="text" placeholder="India" class="input_form_scs">
                        <br>
                        <div class="checkbox">
                            <input type="checkbox" name="agree" required>
                            <p>i'm not a robot</p>
                        </div>
                        <div class="condision">
                            <input type="checkbox" name="agree" required>
                            <p>i have read and i agree to the <a href="">terms of use,privacy policy</a> and <a
                                    href="">other ditails</a></p>
                        </div>
                        <button type="submit" class="start_button">Get Started</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- section 7 end -->


    <section>
        <div id="footer_scs_start">
            <div id="footer_scs">
                <h1>Find Us</h1>
                <footer>
                    <div class="f_part1">
                        <ul>
                            <li><a href="#header_scs">Home</a></li>
                            <li><a href="#section_2">About Us</a></li>
                            <li><a href="#work_button">How Its Work</a></li>
                            <li><a href="#section_3">Features</a></li>
                            <li><a href="#section_4">Calculator</a></li>
                            <li><a href="#scs_5">Pricing</a></li>
                            <li><a href="#form_bgp">Testimonials</a></li>
                        </ul>
                        <div class="social_icons">
                            <a href="#"><i class="fab fa-twitter-square"></i></a>
                            <a href="#"><i class="fab fa-facebook-square"></i></a>
                            <a href="#"><i class="fab fa-youtube-square"></i></a>
                            <a href="#"><i class="fab fa-google-plus-square"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram-square"></i></a>
                        </div>
                    </div>
                    <div class="f_part2">
                        <form action="">
                            <input type="text" placeholder="Name">
                            <br>
                            <input type="email" placeholder="Email">
                            <br>
                            <input type="text" placeholder="Subject">
                            <br>
                            <textarea name="" id="" cols="22.5" rows="5"></textarea>
                        </form>
                        <div class="send_button">
                            <a href="#" type="submit">Send</a>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </section>


</body>

</html>

<!-- <nav>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">How Its Work</a></li>
        <li><a href="#">Features</a></li>
        <li><a href="#">Calculator</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Testimonial</a></li>
    </ul>
</nav> -->