<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- five icon  -->
    <link rel="apple-touch-icon" sizes="76x76" href="images/five icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/five icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/five icon/favicon-16x16.png">
    <link rel="manifest" href="images/five icon/site.webmanifest">
    <link rel="mask-icon" href="images/five icon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#9f00a7">
    <meta name="theme-color" content="#ffffff">
    <!-- Font Awsome line  -->
    <link rel="stylesheet" href="Fontawsome/fontawesome-free-5.15.4-web/css/all.min.css">
    <!-- Css file  -->
    <link rel="stylesheet" href="FLEX_Css.css/FLEX.css">
    <link rel="stylesheet" href="Media Screen/FLEX Media Screen.css">
    <title>FLEX</title>
</head>

<body>

    <!-- section 1 start  -->
    <section>
        <div id="social_icons">
            <div id="social_font">
                <div class="icons">
                    <a href="https://www.facebook.com/login/"><i class="fab fa-facebook-f ff"></i></a>
                </div>
                <div class="icons">
                    <a href="https://twitter.com/login?lang=en-gb"><i class="fab fa-twitter f1"></i></a>
                </div>
                <div class="icons">
                    <a href="#"><i class="fab fa-dribbble f1"></i></a>
                </div>
                <div class="icons">
                    <a href="https://www.linkedin.com/login"><i class="fab fa-linkedin-in f1"></i></a>
                </div>
            </div>
        </div>
    </section>
    <!-- section 1 and  -->

    <!-- header start  -->
    <header>
        <div id="header_start">
            <div id="header_scs_start">
                <div id="logo">
                    <a href="#"><img src="images/logo.png" alt=""></a>
                    <div class="Flex"><a href="#">
                            <h1>FLEX</h1>
                        </a></div>
                </div>
                <div id="manu_br">
                    <ul class="nav_bar_link">
                        <li><a href="#">HOME</a></li>
                        <li><a href="#section4">SERVICES</a></li>
                        <li><a href="#section5">PORTFOLIO</a></li>
                        <li><a href="#section6">TEAM</a></li>
                        <li><a href="#section7">EXTERNAL</a></li>
                        <li><a href="#section8">CONTACT</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!-- header and  -->


    <!-- <section>
        <div id="bg_images">
        </div>
    </section> -->

    <!-- section 3 start -->
    <section>
        <div id="section3">
            <div id="section3_start">
                <h1>PRO LEVEL DESIGN</h1>
                <p>HIGH STANDARD WORK</p>
                <a href="#">MOBILE WEBSITE</a>
            </div>
        </div>
    </section>
    <!-- section 3 and  -->

    <!-- section 4 start  -->
    <section>
        <div id="section4">
            <div id="section4_start">
                <div id="OUR_SERVICES">
                    <h1>OUR SERVICES</h1>
                    <p>WE DESIGN MOBILE-FIRST WEBSITES FOR YOU</p>
                </div>
                <div id="OUR_SERVICES_box_scs_start">
                    <div class="container container1">
                        <i class="far fa-file-code image_icons"></i>
                        <div class="overlay">
                            <div class="text">
                                <h3>HTML5 CODING</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, assumenda, eveniet,
                                    consectetur, ex doloribus veniam asperiores incidunt mollitia placeat aniet.</p>
                            </div>
                        </div>
                    </div>
                    <div class="container container2">
                        <i class="far fa-paper-plane image_icons"></i>
                        <div class="overlay">
                            <div class="text">
                                <h3>OUR SUPPORT</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, assumenda, eveniet,
                                    consectetur, ex doloribus veniam asperiores incidunt mollitia placeat aniet.</p>
                            </div>
                        </div>
                    </div>
                    <div class="container container3">
                        <i class="fas fa-university image_icons"></i>
                        <div class="overlay">
                            <div class="text">
                                <h3>OUR DESIGN</h3>
                                <p>We make HTML CSS templates that are responsive for any screen size on any device.
                                    Feel free to download and use our templates without restrictions.</p>
                            </div>
                        </div>
                    </div>
                    <div class="container container4">
                        <i class="fas fa-flask image_icons"></i>
                        <div class="overlay">
                            <div class="text">
                                <h3>GO FOR MOBILE</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, assumenda, eveniet,
                                    consectetur, ex doloribus veniam asperiores incidunt mollitia placeat aniet.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section 4 and  -->


    <!-- section 5 start  -->
    <section>
        <div id="section5">
            <div id="section5_start">
                <div id="OUR_PORTFOLIO">
                    <h1>OUR PORTFOLIO</h1>
                    <p>AMAZING WORK FOR OUR CLIENTS</p>
                </div>
                <div id="OUR_PORTFOLI_scs_start">
                    <!-- 1  -->
                    <div class="PORTFOLI_container">
                        <img src="images/gallery/p1.jpg" alt="">
                        <div class="PORTFOLI">
                            <div class="PORTFOLI_names">
                                <h3>NEW WALK</h3>
                                <p>Asperiores commodi illo fuga perferendis dolore repellendus sapiente ipsum.</p>
                                <div class="search_button">
                                    <a href="#"><i class="fas fa-search srb"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 2  -->
                    <div class="PORTFOLI_container">
                        <img src="images/gallery/p2.jpg" alt="">
                        <div class="PORTFOLI">
                            <div class="PORTFOLI_names">
                                <h3>BOAT</h3>
                                <p>Asperiores commodi illo fuga perferendis dolore repellendus sapiente ipsum.</p>
                                <div class="search_button">
                                    <a href="#"><i class="fas fa-search srb"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 3  -->
                    <div class="PORTFOLI_container">
                        <img src="images/gallery/p7.jpg" alt="">
                        <div class="PORTFOLI">
                            <div class="PORTFOLI_names">
                                <h3>URBAN</h3>
                                <p>Asperiores commodi illo fuga perferendis dolore repellendus sapiente ipsum.</p>
                                <div class="search_button">
                                    <a href="#"><i class="fas fa-search srb"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 4  -->
                    <div class="PORTFOLI_container">
                        <img src="images/gallery/p8.jpg" alt="">
                        <div class="PORTFOLI">
                            <div class="PORTFOLI_names">
                                <h3>CYCLING</h3>
                                <p>Asperiores commodi illo fuga perferendis dolore repellendus sapiente ipsum.</p>
                                <div class="search_button">
                                    <a href="#"><i class="fas fa-search srb"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 5  -->
                    <div class="PORTFOLI_container">
                        <img src="images/gallery/p3.jpg" alt="">
                        <div class="PORTFOLI">
                            <div class="PORTFOLI_names">
                                <h3>DIGITAL ERA</h3>
                                <p>Asperiores commodi illo fuga perferendis dolore repellendus sapiente ipsum.</p>
                                <div class="search_button">
                                    <a href="#"><i class="fas fa-search srb"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 6  -->
                    <div class="PORTFOLI_container">
                        <img src="images/gallery/p4.jpg" alt="">
                        <div class="PORTFOLI">
                            <div class="PORTFOLI_names">
                                <h3>HORIZON</h3>
                                <p>Asperiores commodi illo fuga perferendis dolore repellendus sapiente ipsum.</p>
                                <div class="search_button">
                                    <a href="#"><i class="fas fa-search srb"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 7  -->
                    <div class="PORTFOLI_container">
                        <img src="images/gallery/p5.jpg" alt="">
                        <div class="PORTFOLI">
                            <div class="PORTFOLI_names">
                                <h3>AQUATIC CITY</h3>
                                <p>Asperiores commodi illo fuga perferendis dolore repellendus sapiente ipsum.</p>
                                <div class="search_button">
                                    <a href="#"><i class="fas fa-search srb"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 8  -->
                    <div class="PORTFOLI_container">
                        <img src="images/gallery/p6.jpg" alt="">
                        <div class="PORTFOLI">
                            <div class="PORTFOLI_names">
                                <h3>NEW PATH</h3>
                                <p>Asperiores commodi illo fuga perferendis dolore repellendus sapiente ipsum.</p>
                                <div class="search_button">
                                    <a href="#"><i class="fas fa-search srb"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section 5 and  -->

    <!-- section 6 start  -->
    <section>
        <div id="section6">
            <div id="section6_start">
                <div id="OUR_TEAM">
                    <h1>OUR TEAM</h1>
                    <p>OUR PEOPLE ARE VERY UNITED FOR YOUR SUCCESS</p>
                </div>
                <div id="OUR_TEAM_box_scs_start">
                    <!-- 1  -->
                    <div class="OUR_TEAM_container">
                        <img src="images/member1.jpg" alt="">
                        <div class="TEAM">
                            <div class="OUR_TEAM_names">
                                <h3>TRACY</h3>
                                <p>DESIGNER</p>
                                <div id="social_button">
                                    <div class="social_icons">
                                        <a href="https://www.facebook.com/login/"><i class="fab fa-facebook-f"></i></a>
                                    </div>
                                    <div class="social_icons">
                                        <a href="https://twitter.com/login?lang=en-gb"><i
                                                class="fab fa-twitter"></i></a>
                                    </div>
                                    <div class="social_icons">
                                        <a href="https://www.linkedin.com/login"><i class="fab fa-linkedin-in"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 2  -->
                    <div class="OUR_TEAM_container">
                        <img src="images/member2.jpg" alt="">
                        <div class="TEAM">
                            <div class="OUR_TEAM_names">
                                <h3>CINDY</h3>
                                <p>DEVELOPER</p>
                                <div id="social_button">
                                    <div class="social_icons">
                                        <a href="https://www.facebook.com/login/"><i class="fab fa-facebook-f"></i></a>
                                    </div>
                                    <div class="social_icons">
                                        <a href="https://twitter.com/login?lang=en-gb"><i
                                                class="fab fa-twitter"></i></a>
                                    </div>
                                    <div class="social_icons">
                                        <a href="https://www.linkedin.com/login"><i class="fab fa-linkedin-in"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 3 -->
                    <div class="OUR_TEAM_container">
                        <img src="images/member3.jpg" alt="">
                        <div class="TEAM">
                            <div class="OUR_TEAM_names">
                                <h3>MARY</h3>
                                <p>DIRECTOR</p>
                                <div id="social_button">
                                    <div class="social_icons">
                                        <a href="https://www.facebook.com/login/"><i class="fab fa-facebook-f"></i></a>
                                    </div>
                                    <div class="social_icons">
                                        <a href="https://twitter.com/login?lang=en-gb"><i
                                                class="fab fa-twitter"></i></a>
                                    </div>
                                    <div class="social_icons">
                                        <a href="https://www.linkedin.com/login"><i class="fab fa-linkedin-in"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 4  -->
                    <div class="OUR_TEAM_container">
                        <img src="images/member4.jpg" alt="">
                        <div class="TEAM">
                            <div class="OUR_TEAM_names">
                                <h3>LINDA</h3>
                                <p>CHIEF EXECUTIVE</p>
                                <div id="social_button">
                                    <div class="social_icons">
                                        <a href="https://www.facebook.com/login/"><i class="fab fa-facebook-f"></i></a>
                                    </div>
                                    <div class="social_icons">
                                        <a href="https://twitter.com/login?lang=en-gb"><i
                                                class="fab fa-twitter"></i></a>
                                    </div>
                                    <div class="social_icons">
                                        <a href="https://www.linkedin.com/login"><i class="fab fa-linkedin-in"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section 6 and  -->

    <!-- section 7 start -->
    <section>
        <div id="section7">
            <div id="section7_start">
                <div class="DESIGN_SKILLS_scs">
                    <h3>DESIGN SKILLS</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div id="DESIGN_average">
                    <div id="paragraph">
                        <div>
                            <p>Aliquam faucibus in dolor sed vestibulum. Sed adipiscing malesuada luctus. Morbi
                                tincidunt, tellus scelerisque scelerisque scelerisque, sapien dui pretium augue, at
                                consectetur sapien tellus vitae nunc. Ut vitae metus quis nulla cursus adipiscing
                                pretium vel dolor. Fusce lacinia accumsan arcu, quis porttitor nisi tincidunt ut. Nunc
                                malesuada nunc eget nunc sollicitudin posuere. Maecenas vitae tortor quis odio hendrerit
                                sagittis.</p>
                            <br>
                            <br>
                            <p>Please visit <a href="">Too CSS</a> to see collections of free HTML CSS templates for
                                your websites. Etiam tincidunt, magna eu elementum tristique, sapien nisl venenatis
                                lacus, nec sagittis lectus dui eget lorem. Donec in tempus mi. Aenean egestas interdum
                                dolor, et mollis lectus consequat. Mauris ullamcorper, felis sit amet gravida malesuada,
                                nisi sem rhoncus massa, non tempor est erat sit amet diam.</p>
                        </div>
                    </div>
                    <div id="average">
                        <div class="PHOTOSHOP_90 ph3">
                            <h3>PHOTOSHOP 90%</h3>
                        </div>
                        <div class="HTML_CSS_80 ph3">
                            <h3>HTML CSS 80%</h3>
                        </div>
                        <div class="DEVELOPMENT_70 ph3">
                            <h3>DEVELOPMENT 70%</h3>
                        </div>
                        <div class="MARKETING_80 ph3">
                            <h3>MARKETING 80%</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section 7 and  -->

    <!-- section 8 start  -->
    <section>
        <div id="section8">
            <div id="section8_start">
                <div id="CONTACT">
                    <h1>CONTACT</h1>
                    <p>SEND A MESSAGE TO US</p>
                </div>
                <div id="CONTACT_map">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3719.5700780366665!2d72.83163461430094!3d21.209231086970146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be04fe4b2fa62dd%3A0x24c1b705648bd6d3!2sOscar%20Career%20Point!5e0!3m2!1sen!2sin!4v1631377327991!5m2!1sen!2sin"
                        width="100%" height="379" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
                <div id="info_paragraph_scs">
                    <div class="info_paragraph">
                        <p>
                            Flex Template is based on Bootstrap v3.1.1 and it is provided by <span
                                class="blue">template</span><span class="green">mo</span> for free of charge. Slider
                            images and portfolio images are from <a href="https://unsplash.com/">Unsplash</a> website. Thank you for
                            visiting. Please tell your friends about our <b>TemplateMo website</b>.
                        </p>
                        <br>
                        <br>
                        <p>
                            Hic, suscipit, praesentium earum quod ea distinctio impedit ullam deserunt minus dolore
                            quibusdam quis saepe aliquam doloribus voluptatibus eum excepturi. Aenean semper erat neque.
                            Nunc et scelerisque nunc, in adipiscing magna.
                        </p>
                        <br>
                        <br>
                        <p>
                            Duis ullamcorper tortor tellus. Ut diam libero, ultricies non augue a, mollis congue risus.
                            Fusce a quam eget nisi luctus imperdiet. Consectetur quod at aperiam corporis totam.
                            Nesciunt minima laborum sapiente totam facere unde est cum quia.
                        </p>
                        <br>
                        <br>
                        <p>
                            Phone: 033-033-0660 <br>
                            Email: <a href="mailto:oscarcareerpoint@gmail.com">info@company.com</a><br>
                            Address: 880 De Best Studio, Fork Street, San Francisco<br>
                        </p>
                    </div>
                    <div class="info_form">
                        <form>
                            <input type="text" placeholder="Your Name" required>
                            <br>
                            <input type="email" placeholder="Your Email" required>
                            <br>
                            <input type="text" placeholder="Subject">
                            <br>
                            <textarea name="" id="" rows="6" placeholder="Message"></textarea>
                            <br>
                            <button type="submit">
                                <a href="#" type="fsubmit">SEND MESSAGE</a>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section 8 and  -->

    <!-- footer -->
    <footer>
        <div id="start_footer">
            <div class="Copyright">
                <p>Copyright &#169; 2020 Company Name . Design: TemplateMo</p>
            </div>
            <div class="back_button">
                <a href="#social_icons">BACK TO TOP</a>
            </div>
        </div>
    </footer>
    <!-- footer  -->     
</body>

</html>