body{
    margin: 0;
    width: 3536px;
    height: 2000px;
    background-color: #e0e0e0;
    background-image: url('Image/bagrpound.png');
    background-repeat: no-repeat;
    background-position: bottom left;
    background-attachment: center center;
    /* background-size: 100% 100%; */
}
.info{
    float: left;
    margin-left: 75px;
    padding-right: 2492px;
    font-family: monospace;
    font-size: 37px;
    font-weight: bold;
    color: #2a219c;
    /* display: inline-block; */
}
#Logo_div{
    float: right;
    padding-right: 164px;
    padding-top: 164px;
}
#Text_Hading{
    height: 768px;
    margin-top: 0;
    padding-top: 604px;
    /* display: inline-block; */

}
.Text_Hadingname{
    letter-spacing: 20px;
    font-family: monospace;
    font-weight: bold;
    margin: 0;
    padding-top: 0px;
    font-size: 171.74pt;
    text-align: right;
    padding-right: 164px;
    /* display: inline-block;  */

}
#boy_text{
    float: right;
    padding-right: 164px;
    font-size: 33pt;
    margin-left: 2400px;
    color: #555555;
    /* display: inline-block; */

}
#S_Text{
    padding-top: 50px;
    float: right;
    padding-right: 164px;
    margin-left: 2772px;
    /* display: inline-block; */

}
span{
    font-family: monospace;
    font-size: 37px;
    font-weight: bold;
    color: #2a219c;
    /* display: inline-block; */
}